@responsive_breakpoint:	991px;
@top_drawer_bg_color:		#2f2f2f;
@top_drawer_text_color:	#c5c5c5;
@primary_color:			#006ab4;
@secondary_color:			#c3d600;
@text_color:				#444444;
@footer_bg_color:			    #222222;
@footer_bg_color_opacity:		1;
@footer_main_overlay_color:	#000;
@footer_main_overlay_opacity: 0;
@footer_text_color:		    #BABABA;
@footer_heading_text_color:   #FFFFFF;
@footer_above_bg_color:       #111111;
@footer_above_bg_color_opacity:		1;
@footer_above_text_color:	    #BABABA;
@bottom_bar_bg_color:		    #111111;
@bottom_bar_bg_color_opacity:	1;
@bottom_bar_text_color:	    #BABABA;
@footer_padding_top:	        80px;
@footer_padding_bottom:	    80px;
@footer_above_padding_top:	70px;
@footer_above_padding_bottom:	70px;
@bottom_bar_padding_top:	20px;
@bottom_bar_padding_bottom:	20px;
@secondary_font:			'Roboto';
@primary_font:			'vnmontserrat';
@logo_max_height:	90px;
@logo_padding_top:	5px;
@logo_padding_bottom:	5px;
@main_menu_height:	90px;
@logo_mobile_max_height:	92px;
@logo_mobile_padding:	15px;
@main_menu_mobile_height:	122px;
@header_nav_layout_padding:	100px;
@header_nav_distance:	45px;
@header_nav_text_color:	#fff;
@menu_sub_bg_color:	#F8F8F8;
@menu_sub_text_color:	#222;
@header_text_color: #333;
@header_border_color: #eee;
@header_nav_bg_color: rgba(244,244,244,1);
@header_background_color: #fff;
@header_scheme_text_color: #ffffff;
@header_nav_scheme_text_color: #ffffff;
@page_title_padding_top: 120px;
@page_title_padding_bottom: 100px;
@page_title_margin_bottom: 80px;
@page_title_color: #ffffff;
@page_title_bg_color: rgba(0,0,0,0.55);
@single_blog_title_padding_top: 90px;
@single_blog_title_padding_bottom: 70px;
@single_blog_title_margin_bottom: 80px;
@single_blog_title_color: #ffffff;
@single_blog_title_bg_color: rgba(0,0,0,0.55);
@single_product_title_padding_top: 120px;
@single_product_title_padding_bottom: 100px;
@single_product_title_margin_bottom: 80px;
@single_product_title_color: #ffffff;
@single_product_title_bg_color: rgba(0,0,0,0.55);
@portfolio_single_title_padding_top: 90px;
@portfolio_single_title_padding_bottom: 60px;
@portfolio_single_title_margin_bottom: 80px;
@portfolio_single_title_color: #fff;
@portfolio_single_title_bg_color: rgba(0,0,0,0.55);
@archive_title_padding_top: 90px;
@archive_title_padding_bottom: 70px;
@archive_title_margin_bottom: 80px;
@archive_title_color: #ffffff;
@archive_title_bg_color: rgba(0,0,0,0.55);
@archive_product_title_padding_top: 120px;
@archive_product_title_padding_bottom: 100px;
@archive_product_title_margin_bottom: 80px;
@archive_product_title_color: #ffffff;
@archive_product_title_bg_color: rgba(0,0,0,0.55);
@archive_portfolio_title_padding_top: 90px;
@archive_portfolio_title_padding_bottom: 60px;
@archive_portfolio_title_margin_bottom: 80px;
@archive_portfolio_title_color: #fff;
@archive_portfolio_title_bg_color: rgba(0,0,0,0.55);
@theme_url:"http://demo.com/viettitan/vt011_galaxy/wp-content/themes/viettitan/";
.header-main-background() {}
