.post-navigation {
	padding:    0;
	display:    table;
	width:      100%;
	position:   relative;
	margin-top: -1px;
	.nav-links {
		width:         100%;
		margin:        0 auto;
		display:       table;
		border-top:    solid 1px @border_color;
		border-bottom: solid 1px @border_color;
	}
	.nav-previous,
	.nav-next {
		position:       relative;
		vertical-align: middle;
		padding:        35px 0;
		width:          50%;
		.transition();
		float:          left;
		.post-navigation-content {
			margin-left: 30px;
		}
	}
	.nav-next {
		float:      right;
		text-align: right;
		.post-navigation-content {
			margin-left:  0;
			margin-right: 30px;
		}
	}

	.post-navigation-label {
		display:        block;
		font-size:      0.75em;
		font-weight:    normal;
		text-transform: uppercase;
		margin-bottom:  5px;
	}

	.post-navigation-title {
		-ms-word-wrap:  break-word;
		word-wrap:      break-word;
		font-size:      15px;
		font-weight:    400;
		text-transform: none;
	}

	.post-navigation-icon {
		font-size:   14px;
		line-height: 1em;
		width:       60px;
		display:     inline-block;
		position:    absolute;
		top:         50%;
		margin-top:  -7px;
		color:       @text_color;

	}
	.nav-links .nav-next .post-navigation-icon {
		right: 0;
	}
}

/* -----------------------------------------------------------------------------
 * Wordpress Default Style
 * -------------------------------------------------------------------------- */
img {
	max-width: 100%;
	height:    auto;
}

.alignnone {
	margin: 15px 15px 0 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin:  15px auto 15px auto;
}

.alignright {
	float:  right;
	margin: 15px 0 15px 15px;
}

.alignleft {
	float:  left;
	margin: 15px 15px 15px 0;
}

.aligncenter {
	display: block;
	margin:  15px auto 15px auto;
}

a img.alignright {
	float:  right;
	margin: 15px 0 0 15px;
}

a img.alignnone {
	margin: 15px 15px 0 0;
}

a img.alignleft {
	float:  left;
	margin: 15px 15px 0 0;
}

a img.aligncenter {
	display:      block;
	margin-left:  auto;
	margin-right: auto;
}

.wp-caption {
	background: #fff;
	text-align: center;
	max-width:  100%;
}

.wp-caption.alignnone {
	margin: 15px 15px 30px 0;
}

.wp-caption.alignleft {
	margin: 15px 15px 30px 0;
}

.wp-caption.alignright {
	margin: 15px 0 30px 15px;
}

.wp-caption img {
	border:  0 none;
	height:  auto;
	margin:  0;
	padding: 0;
	width:   auto;
}

.wp-caption p.wp-caption-text {
	font-size:   0.9em;
	font-style:  italic;
	opacity:     0.7;
	line-height: 17px;
	margin:      1em 0 0 0;
	padding:     0 10%;
}

.wp-post-image {
	height:    auto;
	max-width: 100%;
}

.sticky {
	opacity: 1;
}

.bypostauthor {
	opacity: 1;
}

/**
 * 5.4 Galleries
 * ----------------------------------------------------------------------------
 */

.gallery {
	margin-bottom: 20px;
	margin-left:   -4px;
}

.gallery:before {
	content: "";
	display: table;
}

.gallery:after {
	clear:   both;
	content: "";
	display: block;
}

.gallery-item {
	float:    left;
	margin:   0 4px 4px 0;
	overflow: hidden;
	position: relative;
}

.gallery-columns-1.gallery-size-medium,
.gallery-columns-1.gallery-size-thumbnail,
.gallery-columns-2.gallery-size-thumbnail,
.gallery-columns-3.gallery-size-thumbnail {
	display: table;
	margin:  0 auto 20px;
}

.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item {
	text-align: center;
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 4px);
	max-width: calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 4px);
	max-width: calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 4px);
	max-width: calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 4px);
	max-width: calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 4px);
	max-width: calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 4px);
	max-width: calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
	clear: left;
}

.gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	box-sizing:       border-box;
	color:            #fff;
	font-size:        14px;
	line-height:      1.3;
	margin:           0;
	max-height:       50%;
	opacity:          0;
	padding:          2px 8px;
	position:         absolute;
	bottom:           0;
	left:             0;
	text-align:       left;
	.transition-all(opacity 400ms ease);
	width:            100%;
}

.gallery-caption:before {
	box-shadow: 0 -10px 15px #000 inset;
	content:    "";
	height:     100%;
	min-height: 49px;
	position:   absolute;
	left:       0;
	top:        0;
	width:      100%;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

.overflow-hidden {
	overflow: hidden !important;
}

.transition3s {
	-webkit-transition: all 0.3s;
	-moz-transition:    all 0.3s;
	-ms-transition:     all 0.3s;
	-o-transition:      all 0.3s;
	transition:         all 0.3s;
}

.viettitan-page-links {
	font-size: 0;
}

.viettitan-page-links-title {
	font-size:      14px;
	font-family:    @primary_font;
	text-transform: uppercase;
	font-weight:    400;
	line-height:    1.2;
	letter-spacing: 0.05em;
	margin-right:   15px;
}

.viettitan-page-link {
	font-family:           @primary_font;
	display:               inline-block;
	margin-right:          4px;
	font-size:             14px;
	padding:               0;
	width:                 40px;
	height:                40px;
	text-align:            center;
	line-height:           38px;
	border:                1px solid @border_color;
	-webkit-border-radius: 100%;
	-moz-border-radius:    100%;
	border-radius:         100%;
	-webkit-transition:    all 0.2s;
	-moz-transition:       all 0.2s;
	-ms-transition:        all 0.2s;
	-o-transition:         all 0.2s;
	transition:            all 0.2s;
}

.viettitan-page-links .viettitan-page-link:hover,
.viettitan-page-links > .viettitan-page-link {
	color:            #fff;
	background-color: @primary_color;
	border-color:     @primary_color;
}

.pd-top-10 {
	padding-top: 70px;
}

.pd-top-20 {
	padding-top: 70px;
}

.pd-top-30 {
	padding-top: 70px;
}

.pd-top-40 {
	padding-top: 70px;
}

.pd-top-50 {
	padding-top: 70px;
}

.pd-top-60 {
	padding-top: 70px;
}

.pd-top-70 {
	padding-top: 70px;
}

.pd-top-80 {
	padding-top: 70px;
}

.pd-top-90 {
	padding-top: 70px;
}

.pd-bottom-10 {
	padding-bottom: 70px;
}

.pd-bottom-20 {
	padding-bottom: 70px;
}

.pd-bottom-30 {
	padding-bottom: 70px;
}

.pd-bottom-40 {
	padding-bottom: 70px;
}

.pd-bottom-50 {
	padding-bottom: 70px;
}

.pd-bottom-60 {
	padding-bottom: 70px;
}

.pd-bottom-70 {
	padding-bottom: 70px;
}

.pd-bottom-80 {
	padding-bottom: 70px;
}

.pd-bottom-90 {
	padding-bottom: 70px;
}