body {
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height:    auto;
}

a,
a:focus,
a:hover {
	outline:         none;
	text-decoration: none;
}

body {
	line-height:            1.8;
	-webkit-font-smoothing: antialiased; //this is very important to make font weight on mac good
	color:                  @text_color;
	position:               relative;
	-webkit-transition:     all .3s;
	-moz-transition:        all .3s;
	-ms-transition:         all .3s;
	-o-transition:          all .3s;
	transition:             all .3s;
	left:                   0;

}

h1, h2, h3, h4, h5, h6 {
	line-height:    1.3;
	margin-top:     0;
	margin-bottom:  20px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

h1, h2 {
	letter-spacing: 0;
}

p {
	font-weight:    400;
	margin:         0 0 20px 0;
	padding:        0;
	line-height:    2.2;
	letter-spacing: 0.05em;
}

h1.hmb, h2.hmb, h3.hmb, h4.hmb, h5.hmb, h6.hmb, p.hmb, q.hmb {
	margin-bottom: 40px;
}

.container .container,
.has-sidebar .site-content-page-inner .container,
.has-sidebar .site-content-archive-inner .container {
	padding: 0;
}

//==============================================================================
// STANDARD CLASS
//==============================================================================
.gray {
	background-color: #FAFAFA;
	color:            #444;
}

.light {
	background-color: #fff;
	color:            #444;
}

.dark {
	background-color: #222;
	color:            #fff;
}

.bg-primary {
	background-color: @primary_color;
}

.bg-secondary {
	background-color: @secondary_color;
}

.container {
	max-width: 100%;
}

@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}

#wrapper {
	background-color: #fff;
}

body.boxed #wrapper {
	max-width: 1200px;
	margin:    auto;
	position:  relative;
}

@media only screen and (min-width: 768px) {
	body.float {
		padding: 20px !important;
	}
}

div, iframe, img {
	margin:  0;
	padding: 0;
}

::selection {
	color: #ffffff;
}

::-moz-selection {
	color: #ffffff;
}

a, a:hover, a.active {
	color:           inherit;
	text-decoration: none;
	outline:         none;
}

a:hover {
	color: @primary_color;
}

a:focus, a.active {
	color: @primary_color;
}

input, textarea, button, select {
	outline: none;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.text-uppercase {
	text-transform: uppercase;
}

.bolder {
	font-weight: 700;
}

.semi-bold {
	font-weight: 500;
}

.spacing-50 {
	letter-spacing: 0.05em;
}

.spacing-100 {
	letter-spacing: 0.1em;
}

.fz-12 {
	font-size: 12px;
}

.fz-13 {
	font-size: 13px;
}

.fz-14 {
	font-size: 14px;
}

.fz-15 {
	font-size: 15px;
}

.fz-16 {
	font-size: 16px;
}

.fz-17 {
	font-size: 17px;
}

.fz-18 {
	font-size: 18px;
}

.fz-19 {
	font-size: 19px;
}

.fz-20 {
	font-size: 20px;
}

.fz-21 {
	font-size: 21px;
}

.fz-22 {
	font-size: 22px;
}

.fz-23 {
	font-size: 23px;
}

.fz-24 {
	font-size: 24px;
}

.under-construction-style-2 input[type="email"] {
	background-color: rgba(255, 255, 255, 0.7);
	color:            #000;
}

.main-footer .construction .mc4wp-form {
	input {
		width:      100%;
		margin-top: 20px;
	}
	input[type="submit"] {
		color:  #000;
		border: none;
		.transition(0.3s);
		&:hover {
			background-color: #333;
			color:            #fff;
		}
	}
}

/*-------------------------------------
INPUT
---------------------------------------*/
input[type="text"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="tel"],
input[type="number"],
textarea,
select {
	font-family:        @primary_font;
	padding:            0 20px;
	font-size:          13px;
	letter-spacing:     0.1em;
	color:              #888;
	height:             50px;
	line-height:        1;
	background-color:   #fff;
	border:             1px solid #ddd;

	-webkit-transition: all 0.2s;
	-moz-transition:    all 0.2s;
	-ms-transition:     all 0.2s;
	-o-transition:      all 0.2s;
	transition:         all 0.2s;

	::-webkit-input-placeholder {
		color: #888;
	}

	:-moz-placeholder {
		// Firefox 18-
		color: #888;
	}

	::-moz-placeholder {
		//  Firefox 19+
		color: #888;
	}

	:-ms-input-placeholder {
		color: #888;
	}
	&:focus {
		border-color: @primary_color;
	}
}

textarea {
	height:      auto;
	padding-top: 15px;
}

select {
	max-width:           100%;
	outline:             none;
	-webkit-appearance:  none;
	-moz-appearance:     none;
	appearance:          none;
	background:          url("@{theme_url}assets/images/arrow-down.png");
	background-repeat:   no-repeat;
	background-position: 98%;
	background-position: ~"calc(100% - 15px)";
}

select::-ms-expand {
	display: none;
}

// BLOCK CENTER
.block-center:before {
	content:        "";
	height:         100%;
	vertical-align: middle;
	display:        inline-block;
}

.block-center {
	height:     100%;
	width:      100%;
	text-align: center;
}

.block-center-inner {
	display:        inline-block;
	margin:         0 auto;
	position:       relative;
	/*text-align: left;*/
	vertical-align: middle;
	max-width:      95%;
}

.block-center-inner > * {
	margin: auto;
}

.error404 {
	section.page-title-wrap {
		margin-bottom: 0;
	}
	.page-title-inner {
		font-size: 32px;
	}

}

.page404 {
	margin-top:    130px;
	margin-bottom: 130px;
	.content-wrap {
		text-align: center;
	}
	h2 {
		text-align:    center;
		font-size:     80px;
		font-weight:   400;
		line-height:   1;
		display:       inline-block;
		margin-bottom: 35px;
		color:         #444;
	}

	h4.description {
		text-align:     center;
		font-size:      24px;
		font-weight:    400;
		line-height:    1;
		text-transform: none;
		color:          #444;
		margin-bottom:  0;
	}
	div.return {
		text-align:  center;
		font-size:   20px;
		line-height: 1;
		display:     inline-block;
		position:    relative;
		margin-top:  45px;
		a {
			padding-left:  45px;
			padding-right: 45px;
		}
	}
}

.back-to-top {
	position:          fixed;
	.fixed;
	bottom:            10px;
	right:             10px;
	width:             44px;
	height:            44px;
	line-height:       44px;
	text-align:        center;
	z-index:           2;
	-webkit-transform: translateX(100px);
	-moz-transform:    translateX(100px);
	-ms-transform:     translateX(100px);
	-o-transform:      translateX(100px);
	transform:         translateX(100px);
	.transition();
	border:            2px solid #1e1e1e;
	color:             #1e1e1e;
	background-color:  #f5f5f5;
	i {
		font-size: 22px;
	}
	&:hover {
		text-decoration: none;
		color:           #1e1e1e;
	}
}

.back-to-top.in {
	-webkit-transform: translateX(0px);
	-moz-transform:    translateX(0px);
	-ms-transform:     translateX(0px);
	-o-transform:      translateX(0px);
	transform:         translateX(0px);

}

@media only screen and (min-width: 768px) {
	body.float .back-to-top {
		bottom: 30px;
		right:  30px;
	}
}

.under-construction-wrap {
	background-color: #eee;
	.logo {
		background-color: #fff;
		text-align:       center;
		padding-top:      30px;
		padding-bottom:   46px;
	}
	.page-title-margin-bottom {
		margin-bottom: 140px;
	}
	.social {
		a {
			height:           30px;
			width:            30px;
			background-color: #555;
			color:            #fff;
			.border-radius-all(50%);
			margin-right:     10px;
			display:          inline-block;
			text-align:       center;
		}
	}
}

// PS SCROLL BAR
//----------------------------------------
.ps-container > .ps-scrollbar-y-rail, .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
	width: 5px;
}

#wrapper-content {
	background-color: #fff;
	z-index:          1;
	position:         relative;
	overflow:         hidden;
	width:            100%;
}

.site-loading {
	position:           fixed;
	z-index:            9999;
	top:                0;
	left:               0;
	right:              0;
	bottom:             0;
	margin:             auto;
	opacity:            0;
	display:            none;
	-webkit-transition: opacity 600ms ease 200ms;
	-moz-transition:    opacity 600ms ease 200ms;
	-ms-transition:     opacity 600ms ease 200ms;
	-o-transition:      opacity 600ms ease 200ms;
	transition:         opacity 600ms ease 200ms;
}

body.page-loading .site-loading {
	opacity: 1;
	display: block;
}

.logo-loading {
	margin-bottom: 30px;
}

.wpb_map_wraper iframe {
	display:        block;
	pointer-events: none;
}

.wpb_gmaps_widget .wpb_wrapper {
	padding: 0;
}

/*----------------------------------
Custom Revolution slider
-----------------------------------*/
.tparrows.preview1 {
	width: 34px;
}

.tparrows.preview1:after {
	width:       34px;
	font-size:   26px;
	font-family: "fontawesome";
	background:  rgba(0, 0, 0, 0.4);
}

.tp-leftarrow.preview1:after {
	content: "\f104";
}

.tp-rightarrow.preview1:after {
	content: "\f105";
}

.tparrows.preview1:hover .tp-arr-iwrapper {
	opacity: 0;
}

.tparrows.preview1:hover:after {
	color: #fff;
}

// Toggle Icon
.toggle-icon-wrapper {
	cursor:         pointer;
	display:        inline-block;
	vertical-align: middle;

	&:before {
		content:        "";
		display:        inline-block;
		height:         100%;
		vertical-align: middle;
	}

	.toggle-icon {
		display:        inline-block;
		height:         30px;
		position:       relative;
		vertical-align: middle;
		width:          24px;
		> span {
			background: none repeat scroll 0 0 #000;
			bottom:     0;
			display:    block;
			height:     2px;
			left:       0;
			margin:     auto;
			position:   absolute;
			right:      0;
			top:        0;
			.transition-all(all 0.3s);
			width:      100%;
		}

		&:after,
		&:before {
			background-color: #000;
			content:          "";
			height:           2px;
			left:             0;
			margin:           auto;
			position:         absolute;
			right:            0;
			.transition-all(all 0.3s);
			width:            100%;
		}
		&:before {
			top:                      20%;
			-webkit-transform-origin: top left;
			-moz-transform-origin:    top left;
			-ms-transform-origin:     top left;
			-o-transform-origin:      top left;
			transform-origin:         top left;
		}
		&:after {
			bottom:                   20%;
			-webkit-transform-origin: bottom left;
			-moz-transform-origin:    bottom left;
			-ms-transform-origin:     bottom left;
			-o-transform-origin:      bottom left;
			transform-origin:         bottom left;
		}
	}
	+ span {
		vertical-align: middle;
		text-transform: uppercase;
	}

	&.in {
		.toggle-icon {
			span {
				opacity: 0;
			}
			&:before {
				-webkit-transform: rotate(45deg);
				-moz-transform:    rotate(45deg);
				-ms-transform:     rotate(45deg);
				-o-transform:      rotate(45deg);
				transform:         rotate(45deg);
			}
			&:after {
				-webkit-transform: rotate(-45deg);
				-moz-transform:    rotate(-45deg);
				-ms-transform:     rotate(-45deg);
				-o-transform:      rotate(-45deg);
				transform:         rotate(-45deg);
			}
		}
	}
}

/*-------------------------
Loading
---------------------------*/
.loading-wrapper {
	position:   fixed;
	display:    block;
	top:        0;
	left:       0;
	bottom:     0;
	right:      0;
	background: rgba(0, 0, 0, 0.5);
	z-index:    99999;
	.fixed;
}

.spinner-double-section-far {
	display:           block;
	width:             50px;
	height:            50px;
	border-radius:     50%;
	border:            3.125px solid #aaa;
	-webkit-animation: spinner 1.2s linear infinite;
	-moz-animation:    spinner 1.2s linear infinite;
	-ms-animation:     spinner 1.2s linear infinite;
	-o-animation:      spinner 1.2s linear infinite;
	animation:         spinner 1.2s linear infinite;
	position:          absolute;
	margin:            auto;
	top:               0;
	left:              0;
	right:             0;
	bottom:            0;
}

.spinner-double-section-far:before,
.spinner-double-section-far:after {
	content:          '';
	position:         absolute;
	top:              -3.125px;
	left:             -3.125px;
	display:          block;
	width:            50px;
	height:           50px;
	border-radius:    50%;
	border:           3.125px solid transparent;
	border-top-color: tomato;
}

//==============================================================================
// WIDGET CUSTOM STYLE
//==============================================================================
#lang_sel {
	ul {
		margin:     0;
		padding:    0;
		list-style: none;
		position:   relative;
		ul {
			display:            none;
			position:           absolute;
			top:                100%;
			left:               0;
			z-index:            9999;
			background-color:   #fff;
			min-width:          150px;
			padding:            15px;
			-webkit-box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.3);
			-moz-box-shadow:    2px 3px 5px 2px rgba(0, 0, 0, 0.3);
			box-shadow:         2px 3px 5px 2px rgba(0, 0, 0, 0.3);
			font-size:          12px;

			li {
				line-height: 34px;
				text-align:  left;
				color:       #444;
			}
		}
	}
	&:hover {
		ul {
			display: block;
		}
	}

}

.top-bar-info {
	list-style:     none;
	display:        inline-block;
	vertical-align: middle;
	margin:         0;
	padding:        0;
	li {
		display:        inline-block;
		vertical-align: middle;
		+ li {
			margin-left: 20px;
		}
		i.fa {
			color: @primary_color;
		}
	}
}

//*-------------------------*/
/* MODAL SEARCH
/*-------------------------*/
#viettitan-modal-search {
	z-index:     999999;
	overflow:    auto;
	font-family: @secondary_font;

	&.modal.in .modal-backdrop.in {
		opacity:          0.98;
		height:           100%;
		position:         fixed;
		z-index:          -1;
		background-color: #fff;
		.fixed();
	}

	&.modal.in .viettitan-modal-dialog {
		.transform(translate(0, 0));
	}
	.viettitan-modal-dialog {
		.transform(translate(0, -50%));
		.transition-all(all 0.3s ease-in-out);
		height: auto;
	}
	.viettitan-dismiss-modal {
		position:    absolute;
		right:       30px;
		top:         30px;
		font-size:   36px;
		line-height: 1;
		color:       inherit;
		z-index:     1040;
		cursor:      pointer;
	}
	.viettitan-modal-search {
		padding: 80px 30px 60px;
	}
	.viettitan-modal-search .viettitan-search-wrapper {
		position:         relative;
		width:            100%;
		font-size:        24px;
		color:            inherit;
		background-color: transparent;
		border-bottom:    1px solid rgba(0, 0, 0, 0.2);
		max-width:        1140px;
		display:          block;
		margin-right:     auto;
		margin-left:      auto;
	}
	.viettitan-modal-search .viettitan-search-wrapper:before, .viettitan-modal-search .viettitan-search-wrapper:after {
		content: " ";
		display: table;
	}
	.viettitan-modal-search .viettitan-search-wrapper:after {
		clear: both;
	}
	.viettitan-modal-search input[type="search"] {
		border:           none;
		outline:          none;
		display:          block;
		float:            left;
		width:            100%;
		padding-right:    60px;
		padding-left:     20px;
		background-color: transparent;
		font-size:        22px;
		font-family:      @secondary_font;
		color:            inherit;
	}
	.viettitan-modal-search button {
		position:         absolute;
		display:          block;
		color:            inherit;
		bottom:           5px;
		right:            0;
		line-height:      1;
		border:           none;
		outline:          none;
		font-size:        24px;
		background-color: transparent;
	}

	.ajax-search-result {
		margin:     auto;
		max-width:  1140px;
		background: rgba(77, 77, 77, 0.1);
	}
	.ajax-search-result > ul {
		list-style: none;
		position:   relative;
		padding:    0;
		margin:     0;
	}
	.ajax-search-result li {
		padding:            7px 20px;
		color:              inherit;
		font-size:          16px;
		-webkit-transition: all 0.5s ease-out;
		-moz-transition:    all 0.5s ease-out;
		-ms-transition:     all 0.5s ease-out;
		-o-transition:      all 0.5s ease-out;
		transition:         all 0.5s ease-out;
		&:hover,
		&.selected {
			background-color: rgba(127, 127, 127, 0.1);
		}

		> a {
			color: #333;
		}

		+ li {
			border-top: dotted 1px rgba(77, 77, 77, 0.1);
		}
	}
	.ajax-search-result li.search-view-more {
		font-size:  16px;
		font-style: italic;

		a {
			text-decoration: underline;
		}
	}
	.ajax-search-result li span {
		color: #555;
		float: right;
	}

	i.ajax-search-icon {
		color: inherit;
	}

	div.search-view-more {
		background-color: rgba(255, 255, 0, 0.1);
		padding:          5px 20px;
		border-top:       solid 1px rgba(0, 0, 0, 0.3);
		font-size:        14px;
		text-align:       center;

		i.micon {
			vertical-align: middle;
		}
	}
}

//==============================================================================
// SEARCH POPUP
//==============================================================================
#search_popup_wrapper {
	button.action {
		background-color:   @primary_color;
		opacity:            0.8;
		-webkit-transition: all 0.3s;
		-moz-transition:    all 0.3s;
		-ms-transition:     all 0.3s;
		-o-transition:      all 0.3s;
		transition:         all 0.3s;
		&:hover {
			opacity: 1;
		}
	}
	input[type="text"] {
		display:    inline-block;
		width:      90%;
		margin-top: 20px;
		padding:    1em;
		height:     auto;
	}
	button[type="submit"] {
		margin-top:         20px;
		padding:            0.3em 2em;
		background-color:   @primary_color;
		color:              #fff;
		border:             none;
		text-transform:     uppercase;
		-webkit-transition: all 0.3s;
		-moz-transition:    all 0.3s;
		-ms-transition:     all 0.3s;
		-o-transition:      all 0.3s;
		transition:         all 0.3s;

		&:hover {
			background-color: #000;
		}
	}

}

//==============================================================================
// CANVAS MENU
//==============================================================================
nav.canvas-menu-wrapper {
	position:           fixed;
	z-index:            999;
	top:                0;
	left:               100%;
	bottom:             0;
	width:              270px;
	transform:          translateX(0);
	overflow:           hidden;
	padding:            30px;
	-webkit-transition: all .5s;
	-moz-transition:    all .5s;
	-ms-transition:     all .5s;
	-o-transition:      all .5s;
	transition:         all .5s;

	&.in {
		transform: translateX(-100%);
	}

	.canvas-menu-close {
		position:  absolute;
		top:       10px;
		right:     10px;
		font-size: 18px;
		cursor:    pointer;
	}

	&.dark {
		background: #000;
		color:      #fff;

		.widget_archive,
		.widget_categories,
		.widget_pages,
		.widget_nav_menu > div,
		.woocommerce .widget_product_categories,
		.widget_layered_nav {
			> ul {
				border-bottom-color: rgba(255, 255, 255, 0.2);
			}

		}

		li + li,
		.widget_posts_item + .widget_posts_item {
			border-top-color: rgba(255, 255, 255, 0.2);
		}
		.widget_categories,
		.widget_pages,
		.widget_nav_menu > div,
		.widget_product_categories {
			ul ul {
				border-top-color: rgba(255, 255, 255, 0.2);
			}
		}
	}
}

body.admin-bar nav.canvas-menu-wrapper {
	top: 32px;
}

.spinner-double-section-far:after {
	border-top-color:    transparent;
	border-bottom-color: tomato;
}

.spinner-double-section-far:before,
.spinner-double-section-far:after {
	top:    -9.375px;
	left:   -9.375px;
	width:  62.5px;
	height: 62.5px;
}

.modal {
	z-index: 99999;
}

.modal-content {
	-webkit-border-radius: 0;
	-moz-border-radius:    0;
	border-radius:         0;
}

.modal-backdrop {
	background: rgba(0, 0, 0, 0.5);
}

.modal-backdrop.in {
	opacity: 1;
}

.popup-close {
	position:    absolute;
	top:         10px;
	right:       10px;
	color:       #FFFFFF;
	font-size:   24px;
	display:     block;
	line-height: 1;
}

.text-align-right {
	text-align: right;
}

.text-align-left {
	text-align: left;
}

.social.icon {
	line-height: 1;
	a {
		width:            30px;
		height:           30px;
		display:          inline-block;
		.border-radius-all(50%);
		background-color: #999;
		text-align:       center;
		margin-right:     10px;
		line-height:      30px;
		i {
			color: #fff;
		}
	}
}

.social.icon-text {
	line-height: 1;
	a {
		display:      inline-block;
		text-align:   center;
		margin-right: 10px;
		border-right: solid 1px #ddd;
		line-height:  1;
		span {
			text-transform: uppercase;
			color:          #777;
			padding-right:  10px;
			font-size:      11px;
		}
	}
	a:last-child {
		border: none;
		span {
			padding-right: 0;
		}
	}
}

.center {
	text-align: center;
}

/*--------Contact Form 7 Slider*/
.contact-form-7-slider-wrap {
	background-color: #fff;
	padding:          10px;
	width:            444px;
	.contact-form-7-slider-inner {
		padding:      45px 25px;
		border-style: solid;
		border-width: 1px;
	}
	h3.title {
		font-size:     35px;
		text-align:    center;
		margin-bottom: 15px;
	}
	.form-contact-wrap {
		margin: 0 -5px;
	}
	span.wpcf7-form-control-wrap,
	.form-submit {
		float:         left;
		padding:       0 5px;
		margin-bottom: 10px;
		width:         100%;
		&.your-name,
		&.your-email {
			width: 50%;
		}
	}

	input {
		width: 100%;
	}
	span.wpcf7-not-valid-tip {
		font-size:   12px;
		white-space: normal;
	}
	.form-submit {
		text-align: right;
		margin-top: 5px;
		input[type="submit"] {
			background-color: transparent;
			padding:          0;
			text-decoration:  underline;
			font-size:        15px;
			width:            auto;
			&:hover {
				background-color: transparent;
			}
		}
	}
	.wpcf7-textarea {
		height: 100px;
	}

}

@media only screen and (max-width: 350px) {
	.page404 {
		margin-top:    15px;
		margin-bottom: 15px;
		.content-wrap {
			padding: 15px;
		}
		h2 {
			font-size: 60px;
		}

		h4.description,
		div.return {
			font-size: 15px;
		}
	}
}

.owl-carousel .owl-item {
	-webkit-backface-visibility: visible;
	-moz-backface-visibility:    visible;
	-ms-backface-visibility:     visible;
	backface-visibility:         visible;
}

.margin-bottom-5 {
	margin-bottom: 5px !important;
}

.margin-bottom-10 {
	margin-bottom: 10px !important;
}

.margin-bottom-15 {
	margin-bottom: 15px !important;
}

.margin-top-5 {
	margin-top: 5px !important;
}

.margin-top-10 {
	margin-top: 10px !important;
}

.margin-top-15 {
	margin-top: 15px;
}

.padding-bottom-5 {
	padding-bottom: 5px !important;
}

.padding-bottom-10 {
	padding-bottom: 10px !important;
}

.padding-bottom-15 {
	padding-bottom: 15px !important;
}

.padding-top-5 {
	padding-top: 5px !important;
}

.padding-top-10 {
	padding-top: 10px !important;
}

.padding-top-15 {
	padding-top: 15px;
}

@media screen and (max-width: 991px) {
	.margin-bottom-20, .margin-bottom-25, .margin-bottom-30, .margin-bottom-35 {
		margin-bottom: 15px !important;
	}

	.margin-bottom-40 {
		margin-bottom: 20px !important;
	}

	.margin-bottom-45 {
		margin-bottom: 25px !important;
	}

	.margin-bottom-50 {
		margin-bottom: 30px !important;
	}

	.margin-bottom-55 {
		margin-bottom: 35px !important;
	}

	.margin-bottom-60 {
		margin-bottom: 40px !important;
	}

	.margin-bottom-65 {
		margin-bottom: 45px !important;
	}

	.margin-bottom-70 {
		margin-bottom: 50px !important;
	}

	.margin-bottom-75 {
		margin-bottom: 55px !important;
	}

	.margin-bottom-80 {
		margin-bottom: 60px !important;
	}

	.margin-bottom-85 {
		margin-bottom: 65px !important;
	}

	.margin-bottom-90 {
		margin-bottom: 70px !important;
	}

	.margin-bottom-95 {
		margin-bottom: 75px !important;
	}

	.margin-bottom-100 {
		margin-bottom: 80px !important;
	}

	.margin-bottom-105 {
		margin-bottom: 85px !important;
	}

	.margin-bottom-110 {
		margin-bottom: 90px !important;
	}

	.margin-bottom-115 {
		margin-bottom: 95px !important;
	}

	.margin-bottom-120 {
		margin-bottom: 100px !important;
	}

	.margin-bottom-125 {
		margin-bottom: 105px !important;
	}

	.margin-bottom-130 {
		margin-bottom: 110px !important;
	}

	.margin-bottom-135 {
		margin-bottom: 115px !important;
	}

	.margin-bottom-140 {
		margin-bottom: 120px !important;
	}

	.margin-bottom-145 {
		margin-bottom: 125px !important;
	}

	.margin-bottom-150 {
		margin-bottom: 130px !important;
	}

	.margin-top-20, .margin-top-25, .margin-top-30, .margin-top-35 {
		margin-top: 15px !important;
	}

	.margin-top-40 {
		margin-top: 20px !important;
	}

	.margin-top-45 {
		margin-top: 25px !important;
	}

	.margin-top-50 {
		margin-top: 30px !important;
	}

	.margin-top-55 {
		margin-top: 35px !important;
	}

	.margin-top-60 {
		margin-top: 40px !important;
	}

	.margin-top-65 {
		margin-top: 45px !important;
	}

	.margin-top-70 {
		margin-top: 50px !important;
	}

	.margin-top-75 {
		margin-top: 55px !important;
	}

	.margin-top-80 {
		margin-top: 60px !important;
	}

	.margin-top-85 {
		margin-top: 65px !important;
	}

	.margin-top-90 {
		margin-top: 70px !important;
	}

	.margin-top-95 {
		margin-top: 75px !important;
	}

	.margin-top-100 {
		margin-top: 80px !important;
	}

	.margin-top-105 {
		margin-top: 85px !important;
	}

	.margin-top-110 {
		margin-top: 90px !important;
	}

	.margin-top-115 {
		margin-top: 95px !important;
	}

	.margin-top-120 {
		margin-top: 100px !important;
	}

	.margin-top-125 {
		margin-top: 105px !important;
	}

	.margin-top-130 {
		margin-top: 110px !important;
	}

	.margin-top-135 {
		margin-top: 115px !important;
	}

	.margin-top-140 {
		margin-top: 120px !important;
	}

	.margin-top-145 {
		margin-top: 125px !important;
	}

	.margin-top-150 {
		margin-top: 135px !important;
	}

	.padding-bottom-20, .padding-bottom-25, .padding-bottom-30, .padding-bottom-35 {
		padding-bottom: 15px !important;
	}

	.padding-bottom-40 {
		padding-bottom: 20px !important;
	}

	.padding-bottom-45 {
		padding-bottom: 25px !important;
	}

	.padding-bottom-50 {
		padding-bottom: 30px !important;
	}

	.padding-bottom-55 {
		padding-bottom: 35px !important;
	}

	.padding-bottom-60 {
		padding-bottom: 40px !important;
	}

	.padding-bottom-65 {
		padding-bottom: 45px !important;
	}

	.padding-bottom-70 {
		padding-bottom: 50px !important;
	}

	.padding-bottom-75 {
		padding-bottom: 55px !important;
	}

	.padding-bottom-80 {
		padding-bottom: 60px !important;
	}

	.padding-bottom-85 {
		padding-bottom: 65px !important;
	}

	.padding-bottom-90 {
		padding-bottom: 70px !important;
	}

	.padding-bottom-95 {
		padding-bottom: 75px !important;
	}

	.padding-bottom-100 {
		padding-bottom: 80px !important;
	}

	.padding-bottom-105 {
		padding-bottom: 85px !important;
	}

	.padding-bottom-110 {
		padding-bottom: 90px !important;
	}

	.padding-bottom-115 {
		padding-bottom: 95px !important;
	}

	.padding-bottom-120 {
		padding-bottom: 100px !important;
	}

	.padding-bottom-125 {
		padding-bottom: 105px !important;
	}

	.padding-bottom-130 {
		padding-bottom: 110px !important;
	}

	.padding-bottom-135 {
		padding-bottom: 115px !important;
	}

	.padding-bottom-140 {
		padding-bottom: 120px !important;
	}

	.padding-bottom-145 {
		padding-bottom: 125px !important;
	}

	.padding-bottom-150 {
		padding-bottom: 130px !important;
	}

	.padding-top-20, .padding-top-25, .padding-top-30, .padding-top-35 {
		padding-top: 15px !important;
	}

	.padding-top-40 {
		padding-top: 20px !important;
	}

	.padding-top-45 {
		padding-top: 25px !important;
	}

	.padding-top-50 {
		padding-top: 30px !important;
	}

	.padding-top-55 {
		padding-top: 35px !important;
	}

	.padding-top-60 {
		padding-top: 40px !important;
	}

	.padding-top-65 {
		padding-top: 45px !important;
	}

	.padding-top-70 {
		padding-top: 50px !important;
	}

	.padding-top-75 {
		padding-top: 55px !important;
	}

	.padding-top-80 {
		padding-top: 60px !important;
	}

	.padding-top-85 {
		padding-top: 65px !important;
	}

	.padding-top-90 {
		padding-top: 70px !important;
	}

	.padding-top-95 {
		padding-top: 75px !important;
	}

	.padding-top-100 {
		padding-top: 80px !important;
	}

	.padding-top-105 {
		padding-top: 85px !important;
	}

	.padding-top-110 {
		padding-top: 90px !important;
	}

	.padding-top-115 {
		padding-top: 95px !important;
	}

	.padding-top-120 {
		padding-top: 100px !important;
	}

	.padding-top-125 {
		padding-top: 105px !important;
	}

	.padding-top-130 {
		padding-top: 110px !important;
	}

	.padding-top-135 {
		padding-top: 115px !important;
	}

	.padding-top-140 {
		padding-top: 120px !important;
	}

	.padding-top-145 {
		padding-top: 125px !important;
	}

	.padding-top-150 {
		padding-top: 135px !important;
	}
}

@media screen and (max-width: 480px) {
	.margin-bottom-20, .margin-bottom-25, .margin-bottom-30, .margin-bottom-35, .margin-bottom-40, .margin-bottom-45 {
		margin-bottom: 15px !important;
	}

	.margin-bottom-50 {
		margin-bottom: 20px !important;
	}

	.margin-bottom-55 {
		margin-bottom: 25px !important;
	}

	.margin-bottom-60 {
		margin-bottom: 30px !important;
	}

	.margin-bottom-65 {
		margin-bottom: 35px !important;
	}

	.margin-bottom-70 {
		margin-bottom: 40px !important;
	}

	.margin-bottom-75 {
		margin-bottom: 45px !important;
	}

	.margin-bottom-80 {
		margin-bottom: 50px !important;
	}

	.margin-bottom-85 {
		margin-bottom: 55px !important;
	}

	.margin-bottom-90 {
		margin-bottom: 60px !important;
	}

	.margin-bottom-95 {
		margin-bottom: 65px !important;
	}

	.margin-bottom-100 {
		margin-bottom: 70px !important;
	}

	.margin-bottom-105 {
		margin-bottom: 75px !important;
	}

	.margin-bottom-110 {
		margin-bottom: 80px !important;
	}

	.margin-bottom-115 {
		margin-bottom: 85px !important;
	}

	.margin-bottom-120 {
		margin-bottom: 90px !important;
	}

	.margin-bottom-125 {
		margin-bottom: 95px !important;
	}

	.margin-bottom-130 {
		margin-bottom: 100px !important;
	}

	.margin-bottom-135 {
		margin-bottom: 105px !important;
	}

	.margin-bottom-140 {
		margin-bottom: 110px !important;
	}

	.margin-bottom-145 {
		margin-bottom: 115px !important;
	}

	.margin-bottom-150 {
		margin-bottom: 120px !important;
	}

	.margin-top-20, .margin-top-25, .margin-top-30, .margin-top-35, .margin-top-40, .margin-top-45 {
		margin-top: 15px !important;
	}

	.margin-top-50 {
		margin-top: 20px !important;
	}

	.margin-top-55 {
		margin-top: 25px !important;
	}

	.margin-top-60 {
		margin-top: 30px !important;
	}

	.margin-top-65 {
		margin-top: 35px !important;
	}

	.margin-top-70 {
		margin-top: 40px !important;
	}

	.margin-top-75 {
		margin-top: 45px !important;
	}

	.margin-top-80 {
		margin-top: 50px !important;
	}

	.margin-top-85 {
		margin-top: 55px !important;
	}

	.margin-top-90 {
		margin-top: 60px !important;
	}

	.margin-top-95 {
		margin-top: 65px !important;
	}

	.margin-top-100 {
		margin-top: 70px !important;
	}

	.margin-top-105 {
		margin-top: 75px !important;
	}

	.margin-top-110 {
		margin-top: 80px !important;
	}

	.margin-top-115 {
		margin-top: 85px !important;
	}

	.margin-top-120 {
		margin-top: 90px !important;
	}

	.margin-top-125 {
		margin-top: 95px !important;
	}

	.margin-top-130 {
		margin-top: 100px !important;
	}

	.margin-top-135 {
		margin-top: 105px !important;
	}

	.margin-top-140 {
		margin-top: 110px !important;
	}

	.margin-top-145 {
		margin-top: 115px !important;
	}

	.margin-top-150 {
		margin-top: 120px !important;
	}

	.padding-bottom-20, .padding-bottom-25, .padding-bottom-30, .padding-bottom-35, .padding-bottom-40, .padding-bottom-45 {
		padding-bottom: 15px !important;
	}

	.padding-bottom-50 {
		padding-bottom: 20px !important;
	}

	.padding-bottom-55 {
		padding-bottom: 25px !important;
	}

	.padding-bottom-60 {
		padding-bottom: 30px !important;
	}

	.padding-bottom-65 {
		padding-bottom: 35px !important;
	}

	.padding-bottom-70 {
		padding-bottom: 40px !important;
	}

	.padding-bottom-75 {
		padding-bottom: 45px !important;
	}

	.padding-bottom-80 {
		padding-bottom: 50px !important;
	}

	.padding-bottom-85 {
		padding-bottom: 55px !important;
	}

	.padding-bottom-90 {
		padding-bottom: 60px !important;
	}

	.padding-bottom-95 {
		padding-bottom: 65px !important;
	}

	.padding-bottom-100 {
		padding-bottom: 70px !important;
	}

	.padding-bottom-105 {
		padding-bottom: 75px !important;
	}

	.padding-bottom-110 {
		padding-bottom: 80px !important;
	}

	.padding-bottom-115 {
		padding-bottom: 85px !important;
	}

	.padding-bottom-120 {
		padding-bottom: 90px !important;
	}

	.padding-bottom-125 {
		padding-bottom: 95px !important;
	}

	.padding-bottom-130 {
		padding-bottom: 100px !important;
	}

	.padding-bottom-135 {
		padding-bottom: 105px !important;
	}

	.padding-bottom-140 {
		padding-bottom: 110px !important;
	}

	.padding-bottom-145 {
		padding-bottom: 115px !important;
	}

	.padding-bottom-150 {
		padding-bottom: 120px !important;
	}

	.padding-top-20, .padding-top-25, .padding-top-30, .padding-top-35, .padding-top-40, .padding-top-45 {
		padding-top: 15px !important;
	}

	.padding-top-50 {
		padding-top: 20px !important;
	}

	.padding-top-55 {
		padding-top: 25px !important;
	}

	.padding-top-60 {
		padding-top: 30px !important;
	}

	.padding-top-65 {
		padding-top: 35px !important;
	}

	.padding-top-70 {
		padding-top: 40px !important;
	}

	.padding-top-75 {
		padding-top: 45px !important;
	}

	.padding-top-80 {
		padding-top: 50px !important;
	}

	.padding-top-85 {
		padding-top: 55px !important;
	}

	.padding-top-90 {
		padding-top: 60px !important;
	}

	.padding-top-95 {
		padding-top: 65px !important;
	}

	.padding-top-100 {
		padding-top: 70px !important;
	}

	.padding-top-105 {
		padding-top: 75px !important;
	}

	.padding-top-110 {
		padding-top: 80px !important;
	}

	.padding-top-115 {
		padding-top: 85px !important;
	}

	.padding-top-120 {
		padding-top: 90px !important;
	}

	.padding-top-125 {
		padding-top: 95px !important;
	}

	.padding-top-130 {
		padding-top: 100px !important;
	}

	.padding-top-135 {
		padding-top: 105px !important;
	}

	.padding-top-140 {
		padding-top: 110px !important;
	}

	.padding-top-145 {
		padding-top: 115px !important;
	}

	.padding-top-150 {
		padding-top: 120px !important;
	}
}

@media screen and (min-width: 992px) {

	.margin-bottom-20 {
		margin-bottom: 20px !important;
	}

	.margin-bottom-25 {
		margin-bottom: 25px !important;
	}

	.margin-bottom-30 {
		margin-bottom: 30px !important;
	}

	.margin-bottom-35 {
		margin-bottom: 35px !important;
	}

	.margin-bottom-40 {
		margin-bottom: 40px !important;
	}

	.margin-bottom-45 {
		margin-bottom: 45px !important;
	}

	.margin-bottom-50 {
		margin-bottom: 50px !important;
	}

	.margin-bottom-55 {
		margin-bottom: 55px !important;
	}

	.margin-bottom-60 {
		margin-bottom: 60px !important;
	}

	.margin-bottom-65 {
		margin-bottom: 65px !important;
	}

	.margin-bottom-70 {
		margin-bottom: 70px !important;
	}

	.margin-bottom-75 {
		margin-bottom: 75px !important;
	}

	.margin-bottom-80 {
		margin-bottom: 80px !important;
	}

	.margin-bottom-85 {
		margin-bottom: 85px !important;
	}

	.margin-bottom-90 {
		margin-bottom: 90px !important;
	}

	.margin-bottom-95 {
		margin-bottom: 95px !important;
	}

	.margin-bottom-100 {
		margin-bottom: 100px !important;
	}

	.margin-bottom-105 {
		margin-bottom: 105px !important;
	}

	.margin-bottom-110 {
		margin-bottom: 110px !important;
	}

	.margin-bottom-115 {
		margin-bottom: 115px !important;
	}

	.margin-bottom-120 {
		margin-bottom: 120px !important;
	}

	.margin-bottom-125 {
		margin-bottom: 125px !important;
	}

	.margin-bottom-130 {
		margin-bottom: 130px !important;
	}

	.margin-bottom-135 {
		margin-bottom: 135px !important;
	}

	.margin-bottom-140 {
		margin-bottom: 140px !important;
	}

	.margin-bottom-145 {
		margin-bottom: 145px !important;
	}

	.margin-bottom-150 {
		margin-bottom: 150px !important;
	}

	.margin-top-20 {
		margin-top: 20px !important;
	}

	.margin-top-25 {
		margin-top: 25px !important;
	}

	.margin-top-30 {
		margin-top: 30px !important;
	}

	.margin-top-35 {
		margin-top: 35px !important;
	}

	.margin-top-40 {
		margin-top: 40px !important;
	}

	.margin-top-45 {
		margin-top: 45px !important;
	}

	.margin-top-50 {
		margin-top: 50px !important;
	}

	.margin-top-55 {
		margin-top: 55px !important;
	}

	.margin-top-60 {
		margin-top: 60px !important;
	}

	.margin-top-65 {
		margin-top: 65px !important;
	}

	.margin-top-70 {
		margin-top: 70px !important;
	}

	.margin-top-75 {
		margin-top: 75px !important;
	}

	.margin-top-80 {
		margin-top: 80px !important;
	}

	.margin-top-85 {
		margin-top: 85px !important;
	}

	.margin-top-90 {
		margin-top: 90px !important;
	}

	.margin-top-95 {
		margin-top: 95px !important;
	}

	.margin-top-100 {
		margin-top: 100px !important;
	}

	.margin-top-105 {
		margin-top: 105px !important;
	}

	.margin-top-110 {
		margin-top: 110px !important;
	}

	.margin-top-115 {
		margin-top: 115px !important;
	}

	.margin-top-120 {
		margin-top: 120px !important;
	}

	.margin-top-125 {
		margin-top: 125px !important;
	}

	.margin-top-130 {
		margin-top: 130px !important;
	}

	.margin-top-135 {
		margin-top: 135px !important;
	}

	.margin-top-140 {
		margin-top: 140px !important;
	}

	.margin-top-145 {
		margin-top: 145px !important;
	}

	.margin-top-150 {
		margin-top: 150px !important;
	}

	.padding-bottom-20 {
		padding-bottom: 20px !important;
	}

	.padding-bottom-25 {
		padding-bottom: 25px !important;
	}

	.padding-bottom-30 {
		padding-bottom: 30px !important;
	}

	.padding-bottom-35 {
		padding-bottom: 35px !important;
	}

	.padding-bottom-40 {
		padding-bottom: 40px !important;
	}

	.padding-bottom-45 {
		padding-bottom: 45px !important;
	}

	.padding-bottom-50 {
		padding-bottom: 50px !important;
	}

	.padding-bottom-55 {
		padding-bottom: 55px !important;
	}

	.padding-bottom-60 {
		padding-bottom: 60px !important;
	}

	.padding-bottom-65 {
		padding-bottom: 65px !important;
	}

	.padding-bottom-70 {
		padding-bottom: 70px !important;
	}

	.padding-bottom-75 {
		padding-bottom: 75px !important;
	}

	.padding-bottom-80 {
		padding-bottom: 80px !important;
	}

	.padding-bottom-85 {
		padding-bottom: 85px !important;
	}

	.padding-bottom-90 {
		padding-bottom: 90px !important;
	}

	.padding-bottom-95 {
		padding-bottom: 95px !important;
	}

	.padding-bottom-100 {
		padding-bottom: 100px !important;
	}

	.padding-bottom-105 {
		padding-bottom: 105px !important;
	}

	.padding-bottom-110 {
		padding-bottom: 110px !important;
	}

	.padding-bottom-115 {
		padding-bottom: 115px !important;
	}

	.padding-bottom-120 {
		padding-bottom: 120px !important;
	}

	.padding-bottom-125 {
		padding-bottom: 125px !important;
	}

	.padding-bottom-130 {
		padding-bottom: 130px !important;
	}

	.padding-bottom-135 {
		padding-bottom: 135px !important;
	}

	.padding-bottom-140 {
		padding-bottom: 140px !important;
	}

	.padding-bottom-145 {
		padding-bottom: 145px !important;
	}

	.padding-bottom-150 {
		padding-bottom: 150px !important;
	}

	.padding-top-20 {
		padding-top: 20px !important;
	}

	.padding-top-25 {
		padding-top: 25px !important;
	}

	.padding-top-30 {
		padding-top: 30px !important;
	}

	.padding-top-35 {
		padding-top: 35px !important;
	}

	.padding-top-40 {
		padding-top: 40px !important;
	}

	.padding-top-45 {
		padding-top: 45px !important;
	}

	.padding-top-50 {
		padding-top: 50px !important;
	}

	.padding-top-55 {
		padding-top: 55px !important;
	}

	.padding-top-60 {
		padding-top: 60px !important;
	}

	.padding-top-65 {
		padding-top: 65px !important;
	}

	.padding-top-70 {
		padding-top: 70px !important;
	}

	.padding-top-75 {
		padding-top: 75px !important;
	}

	.padding-top-80 {
		padding-top: 80px !important;
	}

	.padding-top-85 {
		padding-top: 85px !important;
	}

	.padding-top-90 {
		padding-top: 90px !important;
	}

	.padding-top-95 {
		padding-top: 95px !important;
	}

	.padding-top-100 {
		padding-top: 100px !important;
	}

	.padding-top-105 {
		padding-top: 105px !important;
	}

	.padding-top-110 {
		padding-top: 110px !important;
	}

	.padding-top-115 {
		padding-top: 115px !important;
	}

	.padding-top-120 {
		padding-top: 120px !important;
	}

	.padding-top-125 {
		padding-top: 125px !important;
	}

	.padding-top-130 {
		padding-top: 130px !important;
	}

	.padding-top-135 {
		padding-top: 135px !important;
	}

	.padding-top-140 {
		padding-top: 140px !important;
	}

	.padding-top-145 {
		padding-top: 145px !important;
	}

	.padding-top-150 {
		padding-top: 150px !important;
	}
}

.height-1000 {
	height: 1000px;
}

.height-900 {
	height: 900px;
}

.height-800 {
	height: 800px;
}

.height-700 {
	height: 700px;
}

.height-600 {
	height: 600px;
}

.height-500 {
	height: 500px;
}

.height-400 {
	height: 400px;
}

.height-300 {
	height: 300px;
}

.height-200 {
	height: 200px;
}

.height-100 {
	height: 100px;
}

.comming-soon {
	.bg-image {
		background-position: top center !important;
	}
	.vc_sep_line {
		border-top-color: rgba(255, 255, 255, 0.3) !important;
	}
}

@media (min-width: 992px) {
	.md-padding-right-100 {
		padding-right: 100px;
	}

	.md-padding-left-100 {
		padding-left: 100px;
	}
}

@media (max-width: 1199px ) {
	.md-margin-bottom-15 {
		margin-bottom: 15px !important;
	}

	.md-margin-bottom-30 {
		margin-bottom: 30px !important;
	}

	.md-margin-bottom-40 {
		margin-bottom: 40px !important;
	}

	.md-margin-bottom-50 {
		margin-bottom: 50px !important;
	}
}

@media (max-width: 991px) {
	.sm-margin-bottom-15 {
		margin-bottom: 15px !important;
	}

	.sm-margin-bottom-30 {
		margin-bottom: 30px !important;
	}

	.sm-margin-bottom-40 {
		margin-bottom: 40px !important;
	}

	.sm-margin-bottom-50 {
		margin-bottom: 50px !important;
	}

	.sm-padding-bottom-15 {
		padding-bottom: 15px !important;
	}

	.sm-padding-bottom-30 {
		padding-bottom: 30px !important;
	}

	.sm-padding-bottom-40 {
		padding-bottom: 40px !important;
	}

	.sm-padding-bottom-50 {
		padding-bottom: 50px !important;
	}

	.sm-height-1000 {
		height: 1000px;
	}

	.sm-height-900 {
		height: 900px;
	}

	.sm-height-800 {
		height: 800px;
	}

	.sm-height-700 {
		height: 700px;
	}

	.sm-height-600 {
		height: 600px;
	}

	.sm-height-500 {
		height: 500px;
	}

	.sm-height-400 {
		height: 400px;
	}

	.sm-height-300 {
		height: 300px;
	}

	.sm-height-200 {
		height: 200px;
	}

	.sm-height-100 {
		height: 100px;
	}
}

@media (max-width: 767px) {
	.xs-margin-bottom-15 {
		margin-bottom: 15px !important;
	}

	.xs-margin-bottom-30 {
		margin-bottom: 30px !important;
	}

	.xs-margin-bottom-40 {
		margin-bottom: 40px !important;
	}

	.xs-margin-bottom-50 {
		margin-bottom: 50px !important;
	}

	.xs-height-1000 {
		height: 1000px;
	}

	.xs-height-900 {
		height: 900px;
	}

	.xs-height-800 {
		height: 800px;
	}

	.xs-height-700 {
		height: 700px;
	}

	.xs-height-600 {
		height: 600px;
	}

	.xs-height-500 {
		height: 500px;
	}

	.xs-height-400 {
		height: 400px;
	}

	.xs-height-300 {
		height: 300px;
	}

	.xs-height-200 {
		height: 200px;
	}

	.xs-height-100 {
		height: 100px;
	}
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
	position:      relative;
	min-height:    1px;
	padding-right: 15px;
	padding-left:  15px;
}

.col-xs-15 {
	width: 20%;
	float: left;
}

@media (min-width: 768px) {
	.col-sm-15 {
		width: 20%;
		float: left;
	}
}

@media (min-width: 992px) {
	.col-md-15 {
		width: 20%;
		float: left;
	}
}

@media (min-width: 1200px) {
	.col-lg-15 {
		width: 20%;
		float: left;
	}
}

@media (min-width: 768px) {
	.text-left-xs-center {
		text-align: left;
	}

	.text-right-xs-center {
		text-align: right;
	}
}

@media (max-width: 767px) {
	.text-left-xs-center, .text-right-xs-center {
		text-align: center;
	}

	.xs-margin-bottom-15 {
		margin-bottom: 15px;
	}
}

.bg-overlay {
	position: relative;
	&:before {
		content:          '';
		position:         absolute;
		left:             0;
		right:            0;
		bottom:           0;
		top:              0;
		background-color: rgba(0, 0, 0, 0.6);
		display:          block;
	}
}

@media (max-width: 1199px) {
	.bg-overlay-md {
		position: relative;
		&:before {
			content:          '';
			position:         absolute;
			left:             0;
			right:            0;
			bottom:           0;
			top:              0;
			background-color: rgba(0, 0, 0, 0.6);
			display:          block;
		}
	}
}

.bgc-gradient {
	background-image: ~'radial-gradient(circle farthest-side, rgba(17,29,49,0.92) 0%,rgba(4,7,14,0.92) 100%)';
}

@media (min-width: 992px) {
	.md-padding-105 > .vc_column-inner {
		padding-left:  105px !important;
		padding-right: 105px !important;
	}
}
.header-logo {
    height: 90px;
    float: left;
}
.top-main-menu {
    display: table;
    width: 100%;
    position: relative;
}
.top-main-menu.style1 {
    background-color: #f9f9f9;
}
.top-main-menu .vertical-wapper {
    width: 300px;
    display: table-cell;
    position: relative;
    vertical-align: middle;
}
.box-vertical-megamenus {
    background: #fff none repeat scroll 0 0;
    z-index: 1;
}
.box-vertical-megamenus .title {
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    letter-spacing: 1px;
    line-height: 50px;
    margin: 0;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color:#000;
}
.vc_row.home_box_wrap  {
margin: 0 !important;
}
.home_box_wrap .home_box_last {
    width: 20%;
    padding: 0;
    min-height: 0;
}
.box-vertical-megamenus.open .vertical-menu-content .category-menu > li > a:hover {
    background-color: @primary_color;
    color: #404041;
}
.vertical-menu-content .category-menu > li > a:hover {
    background-color: @primary_color;
    color: #404041;
}
.vertical-menu-content .category-menu {
    padding-left: 0px;
}
.box-vertical-megamenus .menu-vertical-wrapper li {
    display: block;
    line-height: 50px;
    margin-left: -1px;
    position: relative;
}
.box-vertical-megamenus.open .vertical-menu-content .category-menu > li > a {
    display: block;
    line-height: 50px;
    padding-left: 30px;
}
.vertical-menu-content .category-menu > li > a {
    display: block;
    line-height: 42px;
    padding-left: 30px;
}
.form-group.form-category {
    width: 30%;
    font-size: 0;
    box-sizing: border-box;
    float: left;
}
.main-nav {
    margin-left: auto;
    margin-right: auto;
}
.box-vertical-megamenus .vertical-menu-content {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 10;
    min-width: 270px;
    font-weight: bold;
    border-left:1px solid #eee;
    border-bottom:1px solid #eee;
}

.form-group.input-serach {
    width: 70%;
    position: relative;
    font-size: 0;
    float: left;
}
.main-nav.sticky-on {
   
}
.form-group.input-serach > input {
    width: 100%;
    padding-right: 50px;
    border-top: 1px solid #eee;
    border-left:none;
}
.form-category .select-category {
    width: 100%;
    border-top: 1px solid #eee;
}
.header-search-box .btn-search {
    background: @primary_color;
	color: #fff;
    height: 50px;
    width: 50px;
    width: 50px;
    border: none;
    margin-left: -4px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
}
.nav-logo-sticky a img{
	display:none;
}
.top-bar-info li i.micon  {
    color: @primary_color;
    padding-right:5px;
}
.top-bar-info li i.fa  {
    color:@primary_color;
    padding-right:5px;
}
.box-vertical-megamenus .vertical-menu-content{
	display: none;
}
.box-vertical-megamenus.open .vertical-menu-content{
	display: block;
}
.main-menu li.current-menu-item{
	background: @primary_color none repeat scroll 0 0;
	color:#fff;
}

.footer-contact-info ul{
    list-style:none;
}
.footer-contact-info ul li{
     line-height: 3;   
}
.footer-contact-info ul li .micon{
    vertical-align: middle;
    margin-right: 5px;
    color: #c3d600;
    font-size: 18px;   
}
.sidebar.woocommerce-sidebar{
	background: #f9f9f9;
    padding-top: 15px;
    padding-bottom: 15px;
}
.product-categories .cat-item.current-cat {
	color:@primary_color;
}
  .x-nav-menu > .x-menu-item {
    display: inline-block;
    line-height: 50px;
  }
  #primary-menu #main-menu li.menu-item{
    line-height: 50px;    
  }
  .top-main-menu .header-nav-right {
    line-height: 50px; 
    float:left;
  }
  .header-logo {
    width: 300px;
    float:left;
}
.line.single h2 span{
	background: #fff;
    position: relative;
    z-index: 999;
    display: inline;
    padding-right: 20px;
}
.header-search-box {
    float: left;
    padding-top:20px;
}
	.vertical-menu-content {
    background: #fff;
	}
.top-bar.top-bar-dark {
    background-color: #F6F6F6 !important;
}
.main-nav {
   background:#F6F6F6; 
}

.main-nav.sticky-on #box-vertical-megamenus{
	width:75px;
}
.main-nav #box-vertical-megamenus .title-menu{
	display: block;
}
.main-nav.sticky-on #box-vertical-megamenus .title-menu{
	display	:none;
}
.main-nav.sticky-on #box-vertical-megamenus .fa.fa-bars{
	font-size:25px;
}
.main-nav.sticky-on .box-vertical-megamenus .vertical-menu-content {
    display: none;
}

.heading.size-sm h2 {
    font-size: 24px;
    margin-bottom: 12px;
    font-weight: normal;

}
.nav-menu-mobile li.menu-item {
	width:100%;
}


.sidebar.top-bar-left .textwidget {
	color:#000;
}
.sidebar.top-bar-right .textwidget {
	color:#000;
}
@media screen and (max-width: 1199px){
	#mobile-header-wrapper .form.form-inline.woo-search {
	    width: 100%;
	}
	.form-group.form-category {
	    width: 35%;
	    float: left;
	}
	#mobile-header-wrapper  .header-mobile-inner .toggle-icon-wrapper.toggle-mobile-menu {
	    width: 50%;
	    float: left;
	}
 .form-group.input-serach {
	    float: left;
	    width: 65%;
	}
.wpb_column.vc_column_container.vc_col-sm-12.vc_col-lg-9.vc_col-md-9 {
    float: right;
}
.top-main-menu .vertical-wapper {
    width: 150px;
   }	
.box-vertical-megamenus.open .vertical-menu-content{
	display:block ;
	z-index:9999;
}
}
@media screen and (max-width: 1024px){
	 .form.form-inline.woo-search {
	    width: 100%;
	}
	.form-group.form-category {
	    width: 35%;
	    float: left;
	}
 	.form-group.input-serach {
	    float: left;
	    width: 65%;
	}
	.toggle-icon-wrapper .toggle-icon{
	margin-left:20px;
	}
	.box-vertical-megamenus.open .vertical-menu-content{
		display:block ;
	}
}

@media screen and (max-width: 991px){
	#mobile-header-wrapper .form.form-inline.woo-search {
	    width: 100%;
	}
	#mobile-header-wrapper .form-group.form-category {
	    width: 30%;
	    float: left;
	}
	#mobile-header-wrapper .form-group.input-serach {
	    width: 50%;
	    float: left;
	}
	#mobile-header-wrapper  .header-mobile-inner .toggle-icon-wrapper.toggle-mobile-menu {
	    width: 50%;
	    float: left;
	}
	#mobile-header-wrapper  .header-mobile-inner #brand-category {
	    width: 50%;
	    float: right;
	}
	#mobile-header-wrapper .header-mobile-inner {
	    background: #eee none repeat scroll 0 0;
	    height: 50px;
	}
	#mobile-header-wrapper .btn-search{
		background: @primary_color none repeat scroll 0 0;
	    bottom: 0;
	    color: #fff;
	    height: 50px;
	    position: absolute;
	    right: 0;
	    top: 0;
	    width: 44px;
	    float:left;
	}
	#mobile-header-wrapper .header-search-box.clearfix {
    	position: relative;
    	padding-bottom:10px;
    	    width: 100%;
	}
	#mobile-header-wrapper .form-group.input-serach {
	    float: left;
	    width: 64%;
	}
	.top-bar-mobile.top-bar-light {
    background: #000 none repeat scroll 0 0;
}
	.toggle-icon-wrapper .toggle-icon{
	margin-left:20px;
	}
	.box-vertical-megamenus .fa.fa-bars{
	padding-left: 55%;
    font-size: 26px;
	}
	.home_box_wrap .home_box_last{
	    width: 33%;
	}
			.header-search-box {
    float: none;
    padding-top: 0px;
}
}

@media screen and (max-width: 767px){
	#mobile-header-wrapper .form-group.input-serach{
	    width: 100%;
	}
	#mobile-header-wrapper .header-mobile-inner {
	    background: #eee none repeat scroll 0 0;
	    height: 50px;
	}
	#mobile-header-wrapper .btn-search{
		background: @primary_color none repeat scroll 0 0;
	    bottom: 0;
	    color: #fff;
	    height: 50px;
	    position: absolute;
	    right: 0;
	    top: 0;
	    width: 44px;
	}
	#mobile-header-wrapper .form-group input-serach{
		float: none;
    	padding-right: 44px
	}
	#mobile-header-wrapper .header-search-box.clearfix {
    	position: relative;
    	    width: 100%;
	}
	#mobile-header-wrapper .form-group.input-serach > input {
	    padding-right: 44px;
	    width:100%;
	}
	#mobile-header-wrapper .form-group.input-serach {
	    width: 65%;
	}
	#mobile-header-wrapper .home1-slider{
	    width: 74%;
	    float: left;
	    height: 100%;
	}
	#mobile-header-wrapper wpb_column .vc_column-inner .wpb_single_image .vc_single_image-wrapper img {
	    max-height: 365px;
	}
	.top-bar-mobile.top-bar-light {
    background: #000 none repeat scroll 0 0;
}
	.toggle-icon-wrapper .toggle-icon{
	margin-left:20px;
	}
		.home_box_wrap .home_box_last{
	    width: 50%;
	    float:left;
	}
	.home_box_wrap .home_box_last.other{
	text-alight:center;
	}
		.header-search-box {
    float: none;
    padding-top: 0px;
}
	
}
@media screen and (max-width: 480px){
	#mobile-header-wrapper .form-group.form-category {
	    display: none;
	}
	#mobile-header-wrapper .form-group.input-serach{
	    width: 100%;
	}
	#mobile-header-wrapper .header-mobile-inner {
	    background: #eee none repeat scroll 0 0;
	    height: 50px;
	}
	#mobile-header-wrapper .btn-search{
		background: @primary_color none repeat scroll 0 0;
	    bottom: 0;
	    color: #fff;
	    height: 50px;
	    position: absolute;
	    right: 0;
	    top: 0;
	    width: 44px;
	}
	#mobile-header-wrapper .form-group input-serach{
		float: none;
    	padding-right: 44px
	}
	#mobile-header-wrapper .header-search-box.clearfix {
    	position: relative;
    	width: 100%;
	}
	.top-bar-mobile.top-bar-light {
    background: #000 none repeat scroll 0 0;
}
	.toggle-icon-wrapper .toggle-icon{
	margin-left:20px;
	}
		.home_box_wrap .home_box_last{
	    width: 100%;
	}
		.header-search-box {
    float: none;
    padding-top: 0px;
}


}
@media screen and (max-width: 320px){
	#mobile-header-wrapper .form-group.form-category {
	    display: none;
	}
	#mobile-header-wrapper .form-group input-serach{
		float: none;
	}
	#mobile-header-wrapper .form-group.input-serach > input {
	    padding-right: 44px;
	}
	#mobile-header-wrapper .btn-search{
		background: @primary_color none repeat scroll 0 0;
	    bottom: 0;
	    color: #fff;
	    height: 50px;
	    position: absolute;
	    right: 0;
	    top: 20;
	    width: 44px;
	}

	#mobile-header-wrapper .header-search-box {
		position: relative;
		display:block;
	}
	#mobile-header-wrapper .form-group input-serach {
		float:none;
	}
	#mobile-header-wrapper .form-group.input-serach > input {
	    padding-right: 44px;
	}
	#mobile-header-wrapper .toggle-icon-wrapper {
		background:#eee;
	}
	#mobile-header-wrapper .header-search-box.clearfix {
    	position: relative;
	}
     #mobile-header-wrapper .form-group.input-serach{
	    width: 100%;
	}
	.top-bar-mobile.top-bar-light {
    background: #000 none repeat scroll 0 0;
	}
	.toggle-icon-wrapper .toggle-icon{
	margin-left:20px;
	}
	.home_box_wrap .home_box_last{
	    width: 100%;
	}
	.sidebar.top-bar-left {
	    width: 100%;
	    text-align: center;
	}
	.sidebar.top-bar-right {
	    width: 100%;
	    text-align: center;
	}

	.header-search-box.clearfix{
	width:100%;
	}
	.header-search-box {
    float: none;
    padding-top: 0px;
}
}