<div id="lang_sel">
	<ul>
		<li>
			<a href="#" class="lang_sel_sel icl-en">
				<img class="iclflag" src="http://themes.viettitan.net/handmade/wp-content/themes/handmade/assets/images/flags/en.png" alt="en" title="English">&nbsp;English
			</a>
			<ul>
				<li class="icl-fr">
					<a href="#">
						<img class="iclflag" src="http://themes.viettitan.net/handmade/wp-content/themes/handmade/assets/images/flags/fr.png" alt="fr" title="French">&nbsp;French
					</a>
				</li>
				<li class="icl-de">
					<a href="#">
						<img class="iclflag" src="http://themes.viettitan.net/handmade/wp-content/themes/handmade/assets/images/flags/de.png" alt="de" title="German">&nbsp;German
					</a>
				</li>
				<li class="icl-ja">
					<a href="#">
						<img class="iclflag" src="http://themes.viettitan.net/handmade/wp-content/themes/handmade/assets/images/flags/ja.png" alt="ja" title="Japanese">&nbsp;Japanese
					</a>
				</li>
			</ul>
		</li>
	</ul>
</div>