.wp-core-ui .notice.is-dismissible {
	margin-left: 2px;
}
@-webkit-keyframes move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 50px 50px;
	}
}

@-moz-keyframes move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 50px 50px;
	}
}


.meter {
	height: 20px;  /* Can be anything */
	position: relative;
	margin: 5px 0 20px 0; /* Just for demo spacing */
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 5px;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter > span {
	display: block;
	height: 100%;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: rgb(43,194,83);
	background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(43,194,83)),
			color-stop(1, rgb(84,240,84))
	);
	background-image: -moz-linear-gradient(
			center bottom,
			rgb(43,194,83) 37%,
			rgb(84,240,84) 69%
	);
	-webkit-box-shadow:
	inset 0 2px 9px  rgba(255,255,255,0.3),
	inset 0 -2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow:
	inset 0 2px 9px  rgba(255,255,255,0.3),
	inset 0 -2px 6px rgba(0,0,0,0.4);
	box-shadow:
	inset 0 2px 9px  rgba(255,255,255,0.3),
	inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}
.meter > span:after, .animate > span > span {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image:
	-webkit-gradient(linear, 0 0, 100% 100%,
	color-stop(.25, rgba(255, 255, 255, .2)),
	color-stop(.25, transparent), color-stop(.5, transparent),
	color-stop(.5, rgba(255, 255, 255, .2)),
	color-stop(.75, rgba(255, 255, 255, .2)),
	color-stop(.75, transparent), to(transparent)
	);
	background-image:
	-moz-linear-gradient(
			-45deg,
			rgba(255, 255, 255, .2) 25%,
			transparent 25%,
			transparent 50%,
			rgba(255, 255, 255, .2) 50%,
			rgba(255, 255, 255, .2) 75%,
			transparent 75%,
			transparent
	);
	z-index: 1;
	-webkit-background-size: 50px 50px;
	-moz-background-size: 50px 50px;
	background-size: 50px 50px;
	-webkit-animation: move 2s linear infinite;
	-moz-animation: move 2s linear infinite;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	overflow: hidden;
}

.animate > span:after {
	display: none;
}

.orange > span {
	background-color: #f1a165;
	background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
	background-image: -webkit-linear-gradient(#f1a165, #f36d0a);
}

.red > span {
	background-color: #f0a3a3;
	background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
	background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
}
.nostripes > span:after {
	-webkit-animation: none;
	-moz-animation: none;
	background-image: none;
}
.viettitan-demo-data-wrapper .install-message {
	font-size: 18px;
	color: #0C6E94;
	background-color: #fff;
	padding: 10px;
	font-style: italic;
	display: none;
}
.viettitan-demo-data-wrapper .install-message.updated,
.viettitan-demo-data-wrapper .install-message.error{
	display: block;
	margin: 0 0 15px;
}
.viettitan-demo-data-wrapper .install-message.updated:after {
	content: attr(data-success);
}
.viettitan-demo-data-wrapper {
	overflow: hidden;
	padding-right: 15px;
}
.viettitan-demo-site-wrapper {
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: 20px;
}

.viettitan-demo-site {
	width: 20%;
	min-width: 200px;
	float: left;
	padding: 5px;
	position: relative;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.viettitan-demo-site h3 {
	background: #ddd;
	color: #000;
	margin: 0;
	padding: 0 0 0 10px;
	line-height: 32px;
	text-align: left;
}
.viettitan-demo-site h3 > span.install-button {
	font-size: 13px;
	cursor: pointer;
	text-align: center;
	float: right;
	padding: 0 10px;
	background-color: #0073AA;
	color: #fff;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-ms-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
}
.viettitan-demo-site h3 > span.install-button.not-install {
	cursor: not-allowed;
	background-color: #333!important;
	color:#ddd!important;
}
.viettitan-demo-site h3 > span.install-button:hover {
	background-color: #EE673A;
}
.viettitan-demo-site h3 > span.install-button i {
	margin-right: 5px;
}

.viettitan-demo-site button {
	cursor: pointer;
	margin-top: 5px;
	background: transparent;
	border: solid 2px #ccc;
	padding: 5px 15px;
	font-weight: 700;
}
.viettitan-demo-site button.hide {
	display: none;
}

.viettitan-demo-site-inner {
	position: relative;
	-webkit-box-shadow: inset 0 0 15px rgba(0,0,0,.1),inset 0 0 0 1px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 0 15px rgba(0,0,0,.1),inset 0 0 0 1px rgba(0,0,0,.05);
	box-shadow: inset 0 0 15px rgba(0,0,0,.1),inset 0 0 0 1px rgba(0,0,0,.05);
	background: #eee;
}
.viettitan-demo-site-inner:before {
	content: '';
	display: block;
	padding-top: 58.888889%;
}

.viettitan-demo-site-inner .demo-site-thumbnail {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 1;
	border: solid 3px #ddd;
}
.viettitan-demo-site-inner .centered {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: translate(50%,50%);
	-ms-transform: translate(50%,50%);
	transform: translate(50%,50%);
}
.viettitan-demo-site-inner  img {
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
}
.install-progress-wrapper .title {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	color:#0073AA;
}
.install-progress-wrapper {
	display: none;
	padding: 15px;
	border: dashed 3px #ddd;
	text-align: center;
}
