.redux-container-image_select .redux-image-select {
	max-width: 100%;
}
.redux-field-container .select2-container-multi {
	display: block;
	width: 100% !important;
}
.redux-container-sorter ul {
	width: 215px;
}
.redux-container-sorter ul .ui-sortable-handle {
	font-weight: 600;
	font-size: 12px;
}
.redux-section-indent-start {
	border-bottom: solid 3px #eee;
}
.redux-section-indent-start h3 {
	border-bottom: none!important;
	margin: 0;
	padding: 5px 15px;
	background-color: #eee;
	display: inline-block;
	border-radius: 5px 5px 0 0;
	font-size: 14px;
	font-weight: 700;
}
.redux-main .form-table-section-indented {
	margin-left: 0;
}
#viettitan_viettitan_options-header_layout label > img{
	width: 145px!important;
}
.header-layout-hover-wrapper {
	display: none;
}
