#TB_overlay {
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#viettitan-framework-popup-icon-wrapper #TB_window {
    width: 783px;
    height: 123px;
    visibility: visible;
    z-index: 100050 !important;
    top:200px;
    right: 0;
    left: 0;
    margin: auto;
}

#viettitan-framework-popup-icon-wrapper #TB_ajaxContent {
    width: 750px;
    height: 545px;
}

.popup-icon-wrapper {
    margin: 0 -15px;
    background: #ffffff;
}

.popup-icon-wrapper .popup-content {
    padding: 10px;
}

.popup-icon-wrapper .popup-content .popup-search-icon {
    margin-bottom: 5px;
}

.TB_ajaxContent {
    max-height: 400px !important;
}

.popup-icon-wrapper .popup-content .list-icon {
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.list-icon > ul {
    margin: 0;
    display: inline-block;
}

.popup-icon-wrapper .popup-content .list-icon li {
    float: left;
    margin-bottom: 0;
}

.list-icon ul li a {
    background: none repeat scroll 0 0 #f0f0f0;
    display: block;
    font-size: 30px;
    height: 40px;
    line-height: 40px;
    margin: 3px;
    padding: 5px;
    text-align: center;
    width: 40px;
    color: #000;
}

.list-icon ul li a i.icon {
    width: auto;
    height: auto;
    line-height: inherit;
    vertical-align: text-top;
    margin-left: 0;
}

.list-icon ul li a:hover, .list-icon ul li a:focus, .list-icon ul li a.active {
    color: #fff;
    background: #2EA2CC;
    font-size: 30px;
}

.popup-icon-wrapper #iconPreview {
    height: 20px;
    line-height: 20px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 20px;
    color: #fff;
    background: #2EA2CC;
    font-size: 14px;
    display: inline-block;
}
.popup-icon-wrapper #iconPreview i.icon {
    width: inherit;
    height: inherit;
    line-height: inherit;
    margin: 0;
}

.popup-icon-wrapper .preview {
    float: right;
}

.popup-icon-wrapper .preview span {
    color: #2ea2cc;
    font-size: 14px;
    font-weight: 600;
}

.popup-icon-wrapper .popup-bottom {
    background: none repeat scroll 0 0 #f0f0f0;
    padding: 5px 10px;
}

#icon-dropdown i {
    font-size: 24px;
    padding: 7px;
}

#icon-dropdown {
    border: 1px solid #C7C7C7;
    width: 100%;
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
    margin: 10px 0;
}

#icon-dropdown input#trace {
    display: none;
}

#icon-dropdown li:hover {
    background: #1E8CBE;
    color: #FFF;
}

#icon-dropdown li.selected {
    color: #FFF;
    background: #313131;
}

.icon-preview {
    display: inline-block;
    width: 40px;
    height: 35px;
    text-align: center;
}

.icon-preview > i {
    font-size: 28px;
    vertical-align: middle;
}

.wpb_element_label {
    margin-right: 15px;
    line-height: 30px;
}

.search {
    padding: 5px;
    margin-left: 50px;
    width: 150px;
    border-color: #C7C7C7 !important;
}

#icon-dropdown > .icon-list {
    margin-top: 0;
}

#icon-dropdown > .icon-list li {
    display: inline-block;
    padding: 0 5px;
    cursor: pointer;
    border: 1px solid #DDD;
    margin-bottom: 0;
    width: 40px;
    text-align: center;
}

#icon-dropdown > .icon-list label {
    display: none;
}

#icon-dropdown li.selected:hover {
    color: #FFF;
    background: #313131;
}

.wpb_el_type_icon .search {
    max-width: 220px;
    margin-left: 12px !important;
}

.wpb_el_type_icon-social .search {
    max-width: 220px;
    margin-left: 12px !important;
}

#wp-link-update {
    position: absolute;
    right: 6px;
    width: 70px;
    height: 28px;
    overflow: hidden;
}

.wpb_vc_param_value.pos.radioimage {
    position: absolute;
    width: 10px;
    float: left;
    margin: 0 10px;
}

img.radioimage {
    margin-left: 32px;
    border: 1px solid;
    max-height: 70px;
    max-width: 170px;
}

.icon_style_wrap img {
    padding: 0 5px
}

.wpb_el_type_radioimage .selected {
    border: 2px solid #ff0000;
}

.wpb_el_type_radioimage img {
    border: 2px solid #ccc;
    margin-right: 5px;
}